.ServicesCard {
  position: relative;
  /* background: url("https://www.hwandpartners.com/images/experties/home/civil.jpg"); */
  background-color: rgba(0, 0, 0, 0.541);
  height: 200px;
  width: 300px;
  border: 1px solid white;
  /* border-radius: 10px; */
  /* background-position: center; */
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 25px;
}
.ServicesCard img {
  height: 55px;
}

.ServiceDetail {
  background-color: rgb(27, 27, 27);
  color: rgb(126, 126, 126);
  height: 100%;
  width: 100%;
  /* border-radius: 10px; */
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 2em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  padding: 0 5px;
  border: 1px solid white;
}

.ServiceDetail button {
  margin: 10px;
  padding: 8px 18px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(245, 245, 245);
  border: none;
  /* border-radius: 50px; */
  outline: none;
  cursor: pointer;
  background: #00a2ff;
}

.ServiceDetail button:hover {
  background: rgb(4, 120, 252);
}

.ServicesCard h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 15px 0;
  font-weight: 400;
}

.ServicesCard:hover .ServiceDetail {
  transition: 0.5s;
  display: flex;
  cursor: pointer;
}

@media (max-width: 425px) {
  .ServicesCard {
    height: 150px;
    width: 200px;
    margin: 25px 15px;
  }
  .ServiceDetail {
    line-height: 1.5em;
  }
  .ServiceDetail button {
    padding: 8px 15px;
    font-size: 13px;
  }
  .ServicesCard img {
    height: 40px;
  }
  .ServicesCard h3 {
    font-size: 20px;
  }
}
