figure {
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
}

figure img {
  height: 200px;
  border-radius: 100%;
}

figcaption h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 10px;
}

figcaption .dtl {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #555;
}

figcaption .contact {
  font-size: 15px;
  font-weight: bold;
}

figcaption * {
  margin: 0;
}

figcaption {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 10px 50px;
}

figcaption::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #272643;
  transition: width 0.5s;
  margin-top: 10px;
}

figcaption:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.readMore i {
  color: #2c698d;
}

figcaption:hover .readMore {
  margin-left: 10px;
  transition: 0.5s;
}

@media (max-width: 660px) {
  figure {
    flex-direction: column;
    margin: 10px;
  }
  figcaption {
    padding: 10px 10px;
  }
}

@media (max-width: 450px) {
  figure img {
    height: 100px;
  }
  figcaption h3 {
    font-size: 15px;
  }
  figcaption .dtl {
    font-size: 13px;
  }
  figcaption .contact {
    font-size: 13px;
  }
}