main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

main h2 {
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding: 15px 0;
  border-bottom: 3px solid #2c698d;
}

main p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 2em;
}

.detail-start {
  display: flex;
  flex-direction: row-reverse;
}

.para h2 {
  text-align: left;
}

.para {
  padding: 0 20px;
  text-align: justify;
}

/* .photo {
  margin-top: 80px;
} */

.photo img {
  height: 500px;
}

@media (max-width: 1200px) {
  .detail-start {
    flex-direction: column-reverse;
  }
  .photo img {
    height: 400px;
  }
}

@media (max-width: 695px) {
  .photo img {
    height: 300px;
    margin-right: 20px;
  }
  .para {
    padding: 0 10px;
    text-align: justify;
  }
}

@media (max-width: 425px) {
  .photo img {
    height: 200px;
    margin-right: 20px;
  }
}