.header {
  background: url(../../asseset/images/about-background.jpg);
  height: 90vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 10px 0;
  font-weight: 900;
}

@media (max-width: 600px) {
  .heading {
    font-size: 30px;
  }
}