.TeamSection {
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TeamSection h2 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Inria Serif', serif;
    font-style: italic;
    padding: 15px 0;
    border-bottom: 3px solid #d4a86c;
}

.TeamCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}