.Cheader {
  background: url(../../asseset/images/contact-background.jpg);
  height: 90vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cheading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: "lato", serif;
  font-style: italic;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 10px 0;
  font-weight: 500;
}

@media (max-width: 600px) {
  .Cheading {
    font-size: 30px;
  }
}