.slider1 {
    background: url('../../../asseset/images/about-background.jpg');
    height: 100vh;
}

.slider2 {
    background: url('../../../asseset/images/team-background.jpg');
    height: 100vh;
}

.slider3 {
    background: url('../../../asseset/images/contact-background.jpg');
    height: 100vh;
}