.each-slide {
    margin-top: 90px;
}

.slider1 {
    background-position: center;
    height: 85vh;
    width: 100%;
}

.slider2 {
    height: 85vh;
    background-position: center;
    width: 100%;
}

.slider3 {
    height: 85vh;
    background-position: center;
    width: 100%;
}

@media (max-width: 600px) {
    .slider1 {
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .slider2 {
        height: 60vh;
        background-position: center;
        width: 100%;
    }
    .slider3 {
        height: 60vh;
        background-position: center;
        width: 100%;
    }
}