.each-slide {
    margin-top: 90px;
}

.slider1 {
    background-position: center;
    height: 100vh;
    width: 100%;
}

.slider2 {
    height: 100vh;
    background-position: center;
    width: 100%;
}

.slider3 {
    height: 100vh;
    background-position: center;
    width: 100%;
}